body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section {
    width: 100%;
    height: 1000px;

    display: flex;
    /*flex-direction: column;*/
    justify-content: space-evenly;
}

.cards {margin-top:40px;
    width:350px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;


}

.card { width:100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h2{ margin-top: 40px;}
p {text-align:center;
padding: 10px;}
a {text-decoration: none;
border: 1px solid black;}