body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    display: flex;
    justify-content: center;
}

.section {
    border: 1px solid black;
    border-radius: 5px;
    width: 800px;
    flex-direction: column;
}

.sectorA {
    width: 100%;
    height: 200px;
    background: silver;
    border-radius: 5px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sectorLeft {
    display: flex;
    flex-direction: column;


}

.sectorB {
    width: 600px;
    height: 200px;
    border-radius: 5px;
    background: aquamarine;
}

.sectorC, .sectorD, .sectorE {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background: aqua;
}
.sectorC {
    background: blueviolet;}
.sectorD {
    background: chartreuse;}
.sectorE {
    background: brown;}

.sectorCDE {
    display: flex;
    flex-direction: row;
    width: 600px;

}

.sectorF {
    width: 200px;
    height: 400px;
    background: antiquewhite;
    border-radius: 5px;
}


@media screen and (min-width: 0) and (max-width: 900px) {
    .section {
        border: 1px solid black;
        border-radius: 5px;
        width: 400px;
        flex-direction: column;
    }

    .sectorA {
        width: 400px;
        height: 100px;
    }

    .sectorB {
        width: 400px;
        height: 200px;
    }

    .sectorC, .sectorD, .sectorE {
        width: 100px;
        height: 100px;

    }




    .main {
        display: flex;
        flex-direction:column;
    }

    .sectorF {
        width: 400px;
        height: 100px;

        background: antiquewhite;
    }



    .sectorLeft {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 300px;
    }



    .sectorCDE {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 400px;
    }
}

